<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

<div class="tutorial-images" th:fragment="block(images)">

	<figure class="tutorial-image-block" th:each="image : ${images}">

		<div class="tutorial-image-block__media">

			<img th:src="${image.url()}"

				 th:alt="${image.displayCaption()}"

				 class="tutorial-image-block__img"

				 loading="lazy"/>

		</div>

		<figcaption class="tutorial-image-block__caption"

					th:if="${!image.displayCaption().isBlank()}"

					th:text="${image.displayCaption()}"></figcaption>

	</figure>

</div>

</body>

</html>

